-present(blog_file) do |blog_file_presenter|
  %tr
    %td
      =blog_file_presenter.download_link
    %td
      =truncate(blog_file_presenter.description, length: 80){blog_file_presenter}
    %td
      =short_date blog_file_presenter.created_at
