-present(blog_file) do |blog_file_presenter|
  =div_for(blog_file, class: 'row') do
    .col-xs-3
      -if ALLOWABLE_IMAGES.include?(blog_file.doc_content_type)
        =blog_file_presenter.image_download_path
      -else
        =blog_file_presenter.download_path
    .col-xs-4
      =blog_file_presenter.delete_link if current_user && current_user.admin?
    .row
      .row
        =blog_file_presenter.description
