=div_for(blog_file, class: 'row') do
  .col-xs-3
    -if ALLOWABLE_IMAGES.include?(blog_file.doc_content_type)
      =link_to image_tag(blog_file.doc.url, width: '150px'), download_blog_files_path(id: blog_file.id)
    -else
      =link_to blog_file.doc_file_name, download_blog_files_path(id: blog_file.id)
  .col-xs-4
    =link_to :Delete, blog_file, method: :delete, data: {confirm: 'Are you sure?'} if current_user && current_user.has_role?('Administrator')
  .row
    .row
      =blog_file.description