=render partial: 'layouts/error_messages', locals: {obj: @blog_file}
=form_for @blog_file do |f|
  %div{class: 'row'}
    %div{class: '2u'}
      =f.text_field :blog_id, placeholder: 'Blog ID'
  %div{class: 'row'}
    =f.file_field :doc
  %div{class: 'row'}
    %div{class: '12u'}
      =f.text_field :description, placeholder: 'Description'
  %div{class: 'row'}
    %div{class: '4u'}
      =f.submit
    %div{class: '2u'}
      -if @blog_file.new_record?
        =link_to 'Cancel', blog_files_path, class: 'cancel-button'
      -else
        =link_to 'Cancel', blog_file_path(@blog_file), class: 'cancel-button'
