%div{class: 'container'}
  %div{class: 'master_links'}
    %a{href: '#'} New Blog File
  %h1{class: 'title'} Blog File Listing
  %div{class: 'search_form'}
    %h1 Search Blog Files
    %form
      %input{type: 'text', placeholder: 'Blog Document'}
      %br
      %input{type: 'text', placeholder: 'Blog Description'}
      %br
      %input{type: 'text', placeholder: 'Created On'}
      %br
      %div{class: 'actions'}
        %input{type: 'submit', value: 'Search'} 
        #{link_to 'Cancel', '#', class: 'cancel_search_form_link'}
  =link_to 'Search Posts', '#', class: 'search_form_link'
  %hr
  -@blog_files.each do |blog_file|
    =div_for(blog_file) do
      #{link_to blog_file.blog_document.file.identifier, blog_file} -
      #{link_to :Delete, blog_file_path(blog_file), method: :delete, data: {confirm: 'Are you sure?'}}
      %br
      =blog_file.description