-present(blog) do |blog_presenter|
  .row
    .col-md-2
      =blog_presenter.short_created_at
    .col-md-6
      =blog_presenter.headline_link
      .text-muted.small-text
        =blog_presenter.truncated_body
      %i.fa.fa-tags
      %span.data=blog_tag_links(blog)
    .col-md-2
      %i.fa.fa-comments
      %span.data
      =blog_presenter.comments_count_link
    .col-md-2
      %i.fa.fa-files-o
      =blog_presenter.files_count_link
  %hr
