-present(blog) do |blog_presenter|
  %h2
    =blog_presenter.headline_link
  %p.lead
    by Lovell McIlwain
  %p
    %span.glyphicon.glyphicon-time
    Posted on #{blog_presenter.short_created_at}
  %hr/
  .row
    .col-md-3
      %i.fa.fa-tags
      %span.data #{blog_tag_links(blog)}
    .col-md-3
      %i.fa.fa-comments
      %span.data
      =blog_presenter.comments_count_link
    .col-md-3
      %i.fa.fa-files-o
      =blog_presenter.files_count_link
  %hr/
  %p
    =blog_presenter.truncated_body
  %a.btn.btn-primary{href: "#{blog_path(blog)}"}
    Read More
    %span.glyphicon.glyphicon-chevron-right
  %hr/
