-present(blog) do |blog_presenter|
  .row
    .col-lg-8.col-md-10.mx-auto
      .post-preview
        %a{href: blog_path(blog)}
          %h2.post-title
            =blog_presenter.headline
          %h3.post-subtitle
            =truncate blog_presenter.body
        %p.post-meta
          Posted by
          %a{href: about_path} Lovell McIlwain
          on #{blog_presenter.short_created_at}
      %hr/
