.row.text-center
  .col-xs-3.h1
    %a.social-icon.color-one{:href => "https://www.twitter.com/the_codemonster", target: :blank}
      .inner-circle
      %i.fa.fa-twitter
  -#.col-xs-3.h1
    -#%a.social-icon.color-two{:href => "#"}
      -#.inner-circle
      -#%i.fa.fa-google-plus
  .col-xs-3.h1
    %a.social-icon.color-three{:href => "https://www.linkedin.com/pub/lovell-mcilwain/60/92/28/", target: :blank}
      .inner-circle
      %i.fa.fa-linkedin
  .col-xs-3.h1
    %a.social-icon.color-three{:href => "/contact_mes/new"}
      .inner-circle
      %i.fa.fa-envelope