%div{class: 'row'}
  -if @blog.errors.any?
    =flash[:error]
    %ul
      -@blog.errors.full_messages.each do |err|
        %li #{err}
%br
=form_for @blog, multipart: true do |f|
  %div{class: 'row'}
    = f.fields_for :blog_files do |builder|
      %div{class: '4u'}
        = builder.file_field :doc
  %div{class: 'row'}
    %div{class: '6u'}
      =f.select :blog_category_id, @blog_categories, prompt: true
    %div{class: '6u'}
      =f.text_field :headline, placeholder: 'Enter Headline', size: 18
  %div{class: 'row'}
    %div{class: '12u'}
      =f.text_area :body, placeholder: 'Enter Details'
  %div{class: 'row'}
    %div{class: '4u'}
      =f.submit
    %div{class: '4u'}
      =link_to 'Cancel', blogs_path