.row
  .col-md-12
    .search_form
      %header
        %h1 Search Posts
    
      =search_form_for @q do |f|
        .form-group
          =f.select :blog_category_id, BlogCategory.all.collect{|x| [x.name, x.id]}, prompt: true, class: 'form-control'
        .form-group
          =f.search_field :headline_cont, placeholder: 'Headline Contains', size: 40, class: 'form-control'
        .form-group
          =f.search_field :body_cont, placeholder: 'Content Contains', size: 40, class: 'form-control'
        .form-group
          =f.search_field :blog_comments_name_cont, placeholder: 'Commenter Contains', size: 40, class: 'form-control'
        .form-group
          =f.search_field :blog_comments_body_cont, placeholder: 'Comment', size: 40, class: 'form-control'
        .form-group
          =f.submit 'Search', class: 'btn btn-tales-one'
          =link_to 'Cancel', '#', class: 'cancel_search_form_link btn btn-tales-two'