.row
  .search_form
    =search_form_for @q do |f|
      .form-group
        =f.label :blog_category, 'Blog Category'
        =f.select :blog_category_id, BlogCategory.all.collect{|x| [x.name, x.id]}, prompt: true
      .form-group
        =f.label :Headline
        %br
        =f.search_field :headline_cont, placeholder: 'Headline Contains', size: 40
      .form-group
        =f.label :body
        %br
        =f.search_field :body_cont, placeholder: 'Content Contains', size: 40
      .form-group
        =f.label :blog_comments_name
        %br
        =f.search_field :blog_comments_name_cont, placeholder: 'Commenter Contains', size: 40
      .form-group
        =f.label :blog_comments_body
        %br
        =f.search_field :blog_comments_body_cont, placeholder: 'Comment', size: 40
      .form-group
        =f.submit 'Search', class: 'btn btn-primary'
        =link_to 'Cancel', '#', class: 'cancel_search_form_link btn btn-danger'