%aside.social-icons.clearfix
  %a.social-icon.color-one{:href => "https://www.twitter.com/the_codemonster", target: 'blank'}
    .inner-circle
    %i.fa.fa-twitter
  %a.social-icon.color-two{:href => "https://plus.google.com/u/0/+LovellMcIlwain/posts", target: 'blank'}
    .inner-circle
    %i.fa.fa-google-plus
  %a.social-icon.color-three{:href => "https://www.linkedin.com/pub/lovell-mcilwain/60/92/28", target: 'blank'}
    .inner-circle
    %i.fa.fa-linkedin