.widewrapper.main
  .container
    .page-header
      -if @blog.errors.any?
        %div{class: 'row alert alert-danger'}
          =flash[:error]
          %ul
            -@blog.errors.full_messages.each do |message|
              %li #{message}
    =form_for @blog, multipart: true do |f|
      .form-group
        =f.text_field :headline, placeholder: 'Enter Headline', class: 'form-control'
      .form-group
        =f.text_area :body, placeholder: 'Enter Details', rows: 20, class: 'tinymce form-control'
      .form-group
        =f.submit class: 'btn btn-tales-one'
        =link_to 'Cancel', @blog, class: 'btn btn-tales-two'