%div{class: 'container'}
  %h1{class: 'title'} Edit Blog
  %hr
  %div{class: 'row'}
    -if @blog.errors.any?
      =flash[:error]
      %ul
        -@blog.errors.full_messages.each do |err|
          %li #{err}
  %br
  =form_for @blog, multipart: true do |f|
    %div{class: 'row'}
      %div{class: '6u'}
        =f.select :blog_category_id, @blog_categories, prompt: true
      %div{class: '6u'}
        =f.text_field :headline, placeholder: 'Enter Headline', size: 18
    %div{class: 'row'}
      %div{class: '12u'}
        =f.text_area :body, placeholder: 'Enter Details'
    %div{class: 'row'}
      %div{class: '3u'}
        =f.submit
      %div{class: '4u'}
        =link_to 'Cancel', @blog, class: 'cancel-button'