%div{class: 'container'}
  %div{class: 'row'}
    %div{class: '2u'}
      =link_to 'Search Posts', '#', class: 'search_form_link'
    %div{class: '2u'}
      =link_to 'New Blog', new_blog_path
  %div{class: 'row'}
    %h1{class: 'title'} Blog Listing
  =render 'search'
  =will_paginate @blogs
  %hr
  -@blogs.each do |blog|
    %div{class: 'row'}
      %div{class: 'row'}
        %h1 #{link_to blog.headline, blog}
        %div
          =truncate(blog.body, length: 100) { link_to "Read More", blog }
        %div{class: '4u'}
          Posted: #{short_date blog.created_at}
        %div{class: '4u'}
          Comments: #{link_to blog.blog_comments.count, blog}
        %div{class: '4u'}
          Attachments: #{link_to blog.blog_files.count, blog}
    %hr