.container
  .row
    .col-xs-2
      =link_to 'Search Posts', '#', class: 'search_form_link'
    .col-xs-2
      =link_to 'New Blog', new_blog_path
  .row
    .col-md-6
      %h1 Blog Listing
  =render 'search'
  =will_paginate @blogs, class: 'apple_pagination'
  -@blogs.each do |blog|
    .row
      .col-md-12
        %h2 #{link_to blog.headline, blog}
      .row
        .col-md-12
          =truncate(blog.body, length: 100) { link_to "Read More", blog }
      .row
        .col-xs-4
          Posted: #{short_date blog.created_at}
        .col-xs-4
          Comments: #{link_to blog.blog_comments.count, blog}
        .col-xs-4
          Attachments: #{link_to blog.blog_files.count, blog}