.widewrapper.main
  .container
    .page-header
      %header
        %h1 Blogs
      =link_to 'New Blog', new_blog_path, class: 'btn btn-tales-one' if current_user && current_user.admin?
      =link_to 'Search Posts', '#', class: 'btn btn-tales-one search_form_link'
      =render 'search'
    .row
      =will_paginate @blogs, class: 'apple_pagination'
    -@blogs.each do |blog|
      .row
        / .col-md-8.blog-main
        .col-md-8
          %article.blog-post
            %header
              %h1 #{blog.headline}
            %p
              =truncate(to_text(blog.body), length: 250) { link_to "Read More", blog }
            .lead-image
              .meta.clearfix
                -#.author
                  %i.fa.fa-user
                  %span.data #{Faker::Name.name}
                .date
                  %i.fa.fa-calendar
                  %span.data #{medium_date(blog.created_at)}
                .comments
                  %i.fa.fa-comments
                  %span.data
                    =link_to pluralize(blog.blog_comments.count, 'Comment'), blog
                .files
                  %i.fa.fa-file-text
                  %span.data
                    =link_to pluralize(blog.blog_files.count, 'File'), blog                    