%div{class: 'container'}
  %div{class: 'master_links'}
    =link_to 'New Blog', new_blog_path
  %h1{class: 'title'} Blog Listing
  %div{class: 'search_form'}
    %h1 Search Posts
    %form
      %input{type: 'text', placeholder: 'Blog Headline'}
      %br
      %input{type: 'text', placeholder: 'Content'}
      %br
      %input{type: 'text', placeholder: 'Created On'}
      %br
      %input{type: 'text', placeholder: 'Commented By'}
      %br
      %input{type: 'text', placeholder: 'Commented Content'}
      %br
      %input{type: 'text', placeholder: 'Commented On'}
      %br
      %div{class: 'actions'}
        %input{type: 'submit', value: 'Search'} #{link_to 'Cancel', '#', class: 'cancel_search_form_link'}
  =link_to 'Search Posts', '#', class: 'search_form_link'
  %hr
  -@blogs.each do |blog|
    %div{class: 'blog_listing'}
      %h1
        =link_to blog.headline, blog 
      %p
        =truncate blog.body
        &nbsp;
        =link_to 'Read More', blog
        %span
          %br
          Posted:  
          =blog.created_at
          |
          Comments: 
          %a{href: '#'} 0
          |
          Attachments: 
          %a{href: '#'} 0