.container
  .page-header
    .row
      %h1 Create Blog
  .row
    .col-xs-12
      -if @blog.errors.any?
        %div{class: 'row alert alert-danger'}
          =flash[:error]
          %ul
            -@blog.errors.full_messages.each do |message|
              %li #{message}
  .row.well
    =form_for @blog, multipart: true do |f|
      .form-group
        = f.fields_for :blog_files do |builder|
          .col-xs-4
            = builder.file_field :doc
        %br
      .form-group
        =f.label :blog_category
        =f.select :blog_category_id, @blog_categories, prompt: true
      .form-group
        =f.label :headline
        %br
        =f.text_field :headline, placeholder: 'Enter Headline', size: 95
      .form-group
        =f.label :body
        %br
        =f.text_area :body, placeholder: 'Enter Details', cols: 95, rows: 20, class: 'jqte-textarea'
      .form-group
        =f.label :to_twitter, 'Tweet it?'
        =f.check_box :to_twitter
        =f.submit class: 'btn btn-primary'
        =link_to 'Cancel', blogs_path, class: 'btn btn-danger'