.widewrapper.main
  .container
    .page-header
      -if @blog.errors.any?
        %div{class: 'row alert alert-danger'}
          =flash[:error]
          %ul
            -@blog.errors.full_messages.each do |message|
              %li #{message}
      %header
        %h1 Post a Blog
    =form_for @blog, multipart: true do |f|
      .form-group
        = f.fields_for :blog_files do |builder|
          .col-xs-4
            = builder.file_field :doc
        %br
      .form-group
        =f.label :blog_category
        =f.select :blog_category_id, @blog_categories, prompt: true, class: 'form-control'
      .form-group
        =f.text_field :headline, placeholder: 'Enter Headline',class: 'form-control'
      .form-group
        =f.text_area :body, placeholder: 'Enter Details',rows: 20, class: 'jqte-textarea form-control'
      .form-group
        =f.label :to_twitter, 'Tweet it?'
        =f.check_box :to_twitter
        =f.submit class: 'btn btn-tales-one'
        =link_to 'Cancel', blogs_path, class: 'btn btn-tales-two'

