.container
  .page-header
    .row
      .col-xs-8
        %h1 #{@blog.headline}
        %h3 Category:&nbsp;&nbsp;#{@blog.blog_category.name}
      .col-xs-2
        %br
        =link_to 'Listing', blogs_path, class: 'btn btn-default'
      .col-xs-1
        %br
        =link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-primary'
      .col-xs-1
        %br
        =link_to 'Destroy', blog_path(@blog), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
  .row
    =flash[:success]
  .row
    =render partial: 'blog_files/blog_file', collection: @blog.blog_files
  .row
    =raw @blog.body
  %br
  =render 'blog_comments/js_form'
    
