=render 'file_modal'
=render 'layouts/success_message'
-present(@blog) do |blog_presenter|
  =content_for :head do
    %meta{name: 'description', content: blog_presenter.headline}
  %header.masthead{:style => "background-image: url('/assets/post-bg.jpg')"}
    .overlay
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-heading
            %h1=blog_presenter.headline
            -# %h2.subheading Problems look mighty small from 150 miles up
            %span.meta
              Posted by
              =link_to 'Lovell McIlwain', about_home_index_path
              on #{blog_presenter.short_created_at}
  -if policy(@blog).edit?
    .row
      .col-md-12
        =blog_presenter.edit_link
        |
        =blog_presenter.delete_link
  .row.well
    .col-md-4
      %i.fa.fa-tags
      %span.data #{blog_tag_links(@blog)}
    .col-md-4
      %i.fa.fa-comments
      %span.data
      =blog_presenter.comments_count
    -if @blog.blog_files.any?
      .col-md-4
        %button.btn.btn-primary{"data-target" => ".file-list-modal-sm", "data-toggle" => "modal", :type => "button"} #{fa_icon 'files-o', text: blog_presenter.files_count}
  %p
    =blog_presenter.raw_body
  =render 'blog_comments/comment_form'
  %hr/
  #comments
    %h2
      %i.fa.fa-comments
      =blog_presenter.comments_count
  =render @blog.blog_comments
