-present(contact_me) do |contact_me_presenter|
  %tr
    %th
      =contact_me_presenter.id
    %td
      =contact_me_presenter.name_link
    %td
      =contact_me_presenter.email_link
    %td
      =contact_me_presenter.truncated_body
    %td
      =contact_me_presenter.short_created_at
