=form_tag contact_mes_path, {method: :get, class: :well} do
  .row
    .form-group.form-group-lg
      .col-md-12
        =text_field_tag :q, params[:q], class: 'searchbox searchfield form-control', placeholder: 'Search Contact Mes'
  .row
    .form-group
      .col-md-12
        =submit_tag 'Search', class: 'btn btn-primary'
