.page-header
  %h1.animated.bounceInDown Contact Me
=render 'search'
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Name
      %th Email
      %th Body
      %th Created
  %tbody
    =render @contact_mes
