.page-header
  %h1 Contact Me
=render 'search'
=paginate @contact_mes
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Name
      %th Email
      %th Body
      %th Created
  %tbody
    =render @contact_mes
