%div{class: 'container'}
  = @contact_mes.each do |contact_me|
    =div_for contact_me do
      =link_to contact_me.id, contact_me
      %p #{contact_me.name}(#{contact_me.email})
      %p #{truncate contact_me.body}