%div{class: 'container'}
  .row
    =link_to 'Search Posts', '#', class: 'search_form_link'
  .row
    %h1.title Contact Me
  =render 'search'
  =will_paginate(@contact_mes)
  %hr
  -@contact_mes.each do |contact_me|
    =div_for contact_me do
      .row
        .1u
          =link_to contact_me.id, contact_me
        .2u
          =contact_me.name
        .3u
          =mail_to contact_me.email
        .6u
          =truncate contact_me.body