.container
  .row
    .page-header
      %h1 Contact Lovell
  .row
    .col-xs-12
      -if @contact_me.errors.any?
        %div{class: 'row alert alert-danger'}
          =flash[:error]
          %ul
            -@contact_me.errors.full_messages.each do |message|
              %li #{message}
  .row.well
    =form_for @contact_me do |f|
      .form-group
        =f.label :name
        %br
        =f.text_field :name, placeholder: 'Enter Name', size: 60
      .form-group
        =f.label :email
        %br
        =f.text_field :email, placeholder: 'Enter Email', size: 60
      .form-group
        =f.label :body
        %br
        =f.text_area :body, placeholder: 'Enter Message', cols: 100, rows: 10
      .row
        .col-xs-2
          =f.submit 'Send', class: 'btn btn-primary'
        .col-xs-1
          =link_to 'Cancel', root_path, class: 'btn btn-danger'