.container
  %h1 Contact Lovell
  =form_for @contact_me do |f|
    .form-group
      / =f.label :name
      =f.text_field :name, placeholder: 'Name', size: 60
    .form-group
      / =f.label :email
      =f.text_field :email, placeholder: 'Email', size: 60
    .form-group
      / =f.label :body
      =f.text_area :body, placeholder: 'Enter Message', cols: 60, rows: 10
    .row
      .col-xs-1
        =f.submit 'Send', class: 'btn btn-primary'
      .col-xs-1
        =link_to 'Cancel', root_path, class: 'btn btn-default'