.well
  .row
    .col-xs-12
      =@contact_me.body
  .row.pull-right
    .col-xs-6
      From: #{@contact_me.name}
    .col-xs-6
      (#{mail_to @contact_me.email})
      %br/
      =medium_date2 Date.today
  =link_to :Listing, contact_mes_path, class: 'btn btn-primary btn-xs'
  =link_to :Delete, @contact_me, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-xs'