-present(@contact_me) do |contact_me_presenter|
  .well
    .row
      .col-xs-12
        =contact_me_presenter.body
    .row.pull-right
      .col-xs-6
        From: #{contact_me_presenter.name}
      .col-xs-6
        (#{contact_me_presenter.email_link})
        %br/
        =contact_me_presenter.medium_created_at
    =link_to :Listing, contact_mes_path, class: 'btn btn-primary btn-xs'
    =contact_me_presenter.delete_button
