-present(@contact_me) do |contact_me_presenter|
  .page-header
    %p
      From: #{contact_me_presenter.name} (#{contact_me_presenter.email_link})
      %br/
      To: Lovell McIlwain
      %br/
      Date: #{contact_me_presenter.short_created_at}
    .well
      %section
        %p=contact_me_presenter.body
    %section
      =link_to :Listing, contact_mes_path, class: 'btn btn-primary'
      =contact_me_presenter.delete_button
