.container
  .row
    .page-header
      %h1 About Me
  .row
    .col-md-3
      =image_tag 'vell.jpg', width: '250px', class: 'img-thumbnail'
    %br
    %br
    .col-md-6.well
      .row
        %p I'm a seasoned Ruby and Ruby on Rails developer with over 5 years of experience. Prior to that, I was a Senior Systems Administrator and Database Administrator. I currently work at ASPPH as a Web Specialist helping to push them into new technologies and methodologies.
      .row
        %p The value that I provide to my current job as well as freelance jobs is the ability to turn around a well tested product in a respectable amount of time. This allows for early feedback and collaboration among the stakeholders and me. Thats a good thing!