.container
  -if flash[:success]
    .row
      .col-md-12
        %div{class: 'alert alert-success'}
          =flash[:success]
  .jumbotron
    %h1 Welcome
    %p Hi! I'm Lovell, a #{link_to :Ruby, 'https://www.ruby-lang.org/en/', target: 'blank'} and #{link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: 'blank'} developer living and working in the DC Metropolitan area. I'm passionate about creating clean and elegant web applications that just work.
    %p If you are looking to contact me about freelance work, please click the button below to send me a message.
    =link_to 'Contact Me', new_contact_me_path, class: "btn btn-lg btn-primary", role: "button"
  .row
    .col-md-3
      %h1 Projects
  .row.well
    .col-xs-3
      =link_to 'Authenticatable Engine', "https://github.com/vmcilwain/authenticatable", target: 'blank'
    .col-xs-3
      =link_to 'Ruby Mysql Web API', "https://github.com/vmcilwain/ruby_mysql_web_service", target: 'blank'
    .col-xs-3
      =link_to 'Announcements', "https://github.com/vmcilwain/announcements", target: 'blank'
  .row
    .col-md-3
      %h1 Connect With Me
  .row.well
    .col-xs-3
      =link_to fa_icon("twitter", text: 'Twitter'), 'https://twitter.com/the_codemonster', target: 'blank'
    .col-xs-3
      =link_to fa_icon("linkedin", text: 'LinkedIn'), 'https://www.linkedin.com/pub/lovell-mcilwain/60/92/28/', target: 'blank'
    .col-xs-3
      =link_to fa_icon("github", text: 'Github'), 'https://www.github.com/vmcilwain', target: 'blank'