=render 'layouts/success_message'
/ Main
#main
  / Intro
  %section#top.one.dark.cover
    .container
      %header
        %h2.alt
          %strong Welcome to my page
        %p I build solid, well tested web applications using the best tool for the job. I am a self managed easy to work with type of guy who prides himself on great communication with his teammates. The overall goal is to get the job done and get it done right! You can find out more #{link_to 'about me', root_path(anchor: :about)}, then #{link_to 'contact me', root_path(anchor: :contact)} for further details.
      %footer
        %a.button.scrolly{:href => "#portfolio"} Continue
  / Portfolio
  %section#portfolio.two
    .container
      %header
        %h2 Portfolio
      %p
        Below is a collection of small projects that I have done over time
      .row
        .4u{:class => "12u$(mobile)"}
          %article.item
            %a.image.fit{href: 'https://github.com/vmcilwain/react-date', target: :blank}
              =image_tag 'react.png'
            %header
              %h3 React Date
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/blog", target: :blank}
              =image_tag 'ruby-on-rails.jpg'
            %header
              %h3 Blog
        .4u{:class => "12u$(mobile)"}
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/salt-ssh-rails", target: :blank}
              =image_tag 'salt-stack.jpg'
            %header
              %h3 Salt-SSH Rails
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/myrails", target: :blank}
              =image_tag 'ruby.jpg'
            %header
              %h3 My Rails
        %div{:class => "4u$ 12u$(mobile)"}
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/myhtml2haml", target: :blank}
              =image_tag 'ruby.jpg'
            %header
              %h3 MyHTML2HAML
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/multiselect", target: :blank}
              =image_tag 'react.png'
            %header
              %h3 Multiselect
  / About Me
  %section#about.three
    .container
      %header
        %h2 About Me
      %a.image.featured{href: "#"}
        -# =image_tag 'pic08.jpg'
        -# =image_tag 'vell.jpg', width: '10px', class: 'img-circle'
      .row
        %p I'm a Web Application Developer with a Systems & Database Administration background. I currently work with Ruby and Ruby on Rails but I am happily at home doing Systems and Database Administration tasks.

        %p My career started as a low level helpdesk engineer working at 3rd Millennium Technologies (MIL3). I basically sat around doing menial task such as filing CDs & Floppys, recording licenses and assigning trouble tickets to other staff members. Through hard work and a knack for catching on to things quickly, I was promoted to Systems Administrator.

        %p I received my BS in Information Technology in 2012; graduating with a 3.78 GP. By the time I finished getting my BA, I was in the middle of a successful career in Information Technology at OPNET Technologies, Inc. The reason for my success prior to getting my BA (and even after) was my ability to take on any challenge and adapt to changes while remaining humble to new experiences. These abilities allowed for me to be the "go to" guy for important task that helped move the business forward.

        %p After the OPNET was acquired, it was time for me to move on and become a web application engineer full time. I moved on to the Association of Schools and Programs of Public Health (ASPPH), a non-profit organization. I chose non-profit because it is a slower pace. I would be allowed to find my own style and get used to the new career path a little bit easier. While working with the ASPPH, I helped to convert applications from Cold Fusion to Ruby on Rails. I built their Ruby on Rails environment from the ground up using AWS (EC2/RDS) and deploying with Capistrano. I also helped to implement coding guidelines including development best practices and testing.  After 2 years with the this organization it was time to move on.

        %p Currently I work as a Web Application Developer for an organization in Baltimore. I took over the development / re-development and support of a rapidly growing, global writing platform that allows for peer review, competitions, critiques, etc. When there isn't any work relating to that project, I work with a knowledgeable team of developers to roll out other projects as needed in various other languages.

        %p The value I provide as a Web Application Developer is the ability to turn around a well tested product in a respectable amount of time. This allows for early feedback and collaboration between the stakeholders and myself. Thats a good thing! In addition to that, my previous years of knowledge as a Systems and Database Administrator in the corporate environment gives me a level of understanding of how applications and systems work together.

        %p I pride myself on learning new technologies when it makes sense and when I have the time. Here is a brief list of the technologies that I work with:
      .row
        .col-md-12
          %table.table.table-striped
            %tbody
              %tr
                %td
                  =link_to :Ruby, 'https://www.ruby-lang.org/en/', target: :blank
                %td
                  =link_to 'Ruby On Rails', 'http://rubyonrails.org/', target: :blank
                %td
                  =link_to :Bootstrap, 'http://getbootstrap.com/', taget: :blank
                %td
                  =link_to :JQuery, 'http://jquery.com/', target: :blank
              %tr
                %td
                  =link_to :MySQL, 'http://www.mysql.com/', target: :blank
                %td
                  =link_to :RVM, 'https://rvm.io/', target: :blank
                %td
                  =link_to 'Mac OS X', 'http://www.apple.com/osx/', target: :blank
                %td
                  =link_to :Linux, 'http://en.wikipedia.org/wiki/Linux', target: :blank
              %tr
                %td
                  =link_to 'Amazon Web Service', 'http://aws.amazon.com/', target: :blank
                %td
                  =link_to 'AngularJS', 'https://angularjs.org/', target: :blank
                %td
                  =link_to 'CoffeeScript', 'http://coffeescript.org/', target: :blank
                %td
                  =link_to 'HAML', 'http://haml.info/', target: :blank
  / Contact
  %section#contact.four
    .container
      %header
        %h2 Contact
      %p Interested in hiring me for Full Time or Freelance work? Connect with me using the form below and I will be sure to get back with you.
      =form_for ContactMe.new, method: :post, remote: true do |f|
        .row
          .6u{:class => "12u$(mobile)"}
            =f.text_field :name, placeholder: 'Name', autofocus: true, required: true
          %div{:class => "6u$ 12u$(mobile)"}
            =f.email_field :email, placeholder: 'Email', required: true
          %div{:class => "12u$"}
            =f.text_area :body, placeholder: 'Message', required: true
          %div{:class => "12u$"}
            .notice
            %button Send
