/ Page Header
-# %header.masthead{:style => "background-image: url('/assets/home-bg.jpg')"}
-#   .overlay
-#   .container
-#     .row
-#       .col-lg-8.col-md-10.mx-auto
-#         .site-heading
-#           %h1 Clean Blog
-#           %span.subheading A Blog Theme by Start Bootstrap
/ Main Content

=render 'layouts/success_message'
.page-header
  %h1 Lovell.Direct
=render 'search'
=render @blogs
.clearfix
  =link_to 'More Posts →', blogs_path, class: 'btn btn-primary float-right'
