%div{class: 'container'}
  -if flash[:error]
    =flash[:error]
    %ul
      -@blog_category.errors.full_messages.each do |err|
        %li
          =err

  %hr
  =form_for @blog_category do |f|
    =f.label :name
    =f.text_field :name, size: '18', placeholder: 'Enter Category Name'
    -if !@blog_category.new_record?
      %br
      =f.label :enabled
      =f.check_box :enabled
    %br
    %div{class: 'actions'}
      =f.submit
      -if @blog_category.new_record?
        =link_to 'Cancel', blog_categories_path
      -else
        =link_to 'Cancel', @blog_category
