.page-header
  .row
    %h1.page-heading
      .col-xs-4
        Blog Categories
    .col-xs-2
      =link_to 'Search Categories', '#', class: 'search_form_link actions btn btn-default'
    .col-xs-2
      =link_to 'New Category', new_blog_category_path, class: 'btn btn-primary' if current_user && current_user.has_role?("administrator")
  =render 'search'
.row
  =will_paginate @blog_categories, class: 'apple_pagination'
-if flash[:success]
  .row
    %div{class: 'alert alert-success'}
      =flash[:success]
.row
  .col-xs-3
    Name
  .col-xs-3
    Enabled
  .col-xs-3
    &nbsp;
-@blog_categories.each do |blog_category|
  .row
    .col-xs-3
      =blog_category.name
    .col.xs-2
      =blog_category.enabled
    .col-xs-2
      =link_to 'Edit', edit_blog_category_path(blog_category), class: 'btn btn-primary'
  %hr