%div{class: 'container'}
  %div{class: 'master_links'}
    =link_to 'New Category', new_blog_category_path
    =flash[:success]
  %h1{class: 'title'} Blog Categories
  %div{class: 'search_form'}
    %h1 Search Blog Categories
    %form
      %input{type: 'text', placeholder: 'Name'}
      %br
      %input{type: 'text', placeholder: 'Created On'}
      %br
      %div{class: 'actions'}
        %input{type: 'submit', value: 'Search'} #{link_to 'Cancel', '#', class: 'cancel_search_form_link'}
  =link_to 'Search Categories', '#', class: 'search_form_link'
  %hr
  -8.times do
    %div{class: 'blog_category_listing'} 
      %span
        =link_to Faker::Lorem.words(1).join("\s"), '#'
      =link_to 'Edit', '#'
      |
      =link_to 'Delete', '#'
