%div{class: 'container'}
  %div{class: 'row'}
    %div{class: '3u'}
      =link_to 'Search Categories', '#', class: 'search_form_link actions'
    %div{class: '3u'}
      =link_to 'New Category', new_blog_category_path
  %div{class: 'row'}
    %h1{class: 'title'} Blog Categories
  =render 'search'
  =will_paginate @blog_categories class: 'apple_pagination'
  %hr
  %div{class: 'row'}
    =flash[:success]
  -@blog_categories.each do |blog_category|
    %div{class: 'row'}
      %div{class: '4u'}
        =blog_category.name
      %div{class: '4u'}
        =link_to 'Edit', edit_blog_category_path(blog_category)
      %div{class: '4u'}
        Enabled: #{blog_category.enabled}