---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=hello
    headers:
      Authorization:
      - OAuth oauth_consumer_key="i6HXOGklZwTtfO7i3nmBovZUw", oauth_nonce="295a552e8c9a39aaaa030b0733abf22f",
        oauth_signature="oZpveNRDBUYf8%2BrWS8BmUTrgR6s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424912527", oauth_token="2401470036-8l1BzIIoHhcQlxHygKzvXNWqD6skbD7laslNvwB",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Feb 2015 01:02:08 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f2cf0345066671169b605fb4e4d22487
      X-Response-Time:
      - '56'
      X-Transaction:
      - bbd54ad355d4eb0c
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Thu, 26 Feb 2015 01:02:08 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="i6HXOGklZwTtfO7i3nmBovZUw", oauth_nonce="e07f53017210032334c896eb02a61635",
        oauth_signature="iaWAypeO8mcABf6sRW6XB%2B5QWyc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424912528", oauth_token="2401470036-8l1BzIIoHhcQlxHygKzvXNWqD6skbD7laslNvwB",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Feb 2015 01:02:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - acbc94e2ba0ee56779a077affa3c16fc
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1424913428'
      X-Response-Time:
      - '30'
      X-Transaction:
      - 510c12f9227bef11
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Feb 26 00:23:44 +0000 2015","id":570740964135972865,"id_str":"570740964135972865","text":"hello","source":"\u003ca
        href=\"http:\/\/vextranet.herokuapp.com\" rel=\"nofollow\"\u003evextranet\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2401470036,"id_str":"2401470036","name":"Vell","screen_name":"the_codemonster","location":"Maryland","profile_location":null,"description":"Web
        specialist at ASPPH; Ruby and Ruby on Rails programmer; a sports fanatic and
        gym goer","url":"http:\/\/t.co\/6oY6dqgUz3","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/6oY6dqgUz3","expanded_url":"http:\/\/vell.herokuapp.com","display_url":"vell.herokuapp.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":10,"friends_count":38,"listed_count":0,"created_at":"Fri
        Mar 21 12:13:00 +0000 2014","favourites_count":1,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":16,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/446984163594235904\/symzBMA4_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/446984163594235904\/symzBMA4_normal.jpeg","profile_link_color":"030C0F","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Thu, 26 Feb 2015 01:02:08 GMT
recorded_with: VCR 2.9.3
