%br
%div{class: 'row'}
  -if @photo_album.errors.any?
    =flash[:error]
    %ul
      =@photo_album.errors.full_messages.each do |message|
        %li #{message}
=form_for @photo_album do |f|
  %div{class: 'row'}
    %div{class: '12u'}
      =f.text_field :name, placeholder: 'Name'
  %div{class: 'row'}
    %div{class: '12u'}
      =f.text_field :description, placeholder: 'Description'
  %div{class: 'row'}
    %div{class: '4u'}
      =f.submit
    %div{class: '3u'}
      =link_to :Cancel, photo_albums_path, class: 'cancel-button'