%div{class: 'container'}
  %div{class: 'row'}
    %div{class: '2u'}
      =link_to 'Search Albums', '#', class: 'search_form_link'
    %div{class: '2u'}
      =link_to 'New Album', new_photo_album_path
  %div{class: 'row'}
    %h1{class: 'title'} Photo Albums
  =render 'search'
  %hr
    -@photo_albums.each do |photo_album|
      %div{class: 'row'}
        %div{class: '4u'}
          =link_to photo_album.name, photo_album
        %div{class: '4u'}
          =link_to :Edit, edit_photo_album_path(photo_album)
        %div{class: '4u'}
          =link_to :Destroy, photo_album_path(photo_album), method: :delete, data: {confirm: 'Are you sure?'}
        %div{class: '12u'}
          Description: #{photo_album.description}