.container
  .row
    .col-xs-12
      -if flash[:success]
        %div{class: 'alert alert-success'}
          =flash[:success]
  .page-header
    .row
      .col-xs-4
        %h1 #{@photo_album.name}
      -if current_user && current_user.has_role?('administrator')
        .col-xs-4
          %br
          =link_to :Edit, edit_photo_album_path(@photo_album), class: 'btn btn-default'
          =link_to :Destroy, photo_album_path(@photo_album), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
  .row
    .col-sx-12
      =render 'photos/js_form'
  =render partial: 'photos/listing', locals: {photos: @photos}