=render partial: 'layouts/error_messages', locals: {obj: @project}

=form_for @project, html: {class: :well} do |f|
  .form-group
    =f.label :repo_url
    =f.text_field :repo_url, class: 'form-control'
  .form-group
    =f.label :live_url
    =f.text_field :live_url, class: 'form-control'
  .form-group
    =f.label :description
    =f.text_field :description, class: 'form-control'
  .form-group
    =f.submit class: 'btn btn-primary'
    -if @project.new_record?
      =link_to 'Cancel', projects_path, class: 'btn btn-default'
    -else
      =link_to 'Cancel', @project, class: 'btn btn-default'
