=div_for project do
  .row
    .col-xs-3
      =link_to project.id, project
    .col-xs-3
      =link_to project.repo_url, project.repo_url, target: :blank
    .col-xs-3
      =link_to :Live, project.live_url, target: :blank
    .col-xs-3
      =project.description
