=div_for project do
  %h2
    =link_to project.repo_url, project.repo_url, target: :blank
  %p
    =project.description
  %a.btn.btn-primary{href: "#{project.live_url}", target: :blank}
    Live
    %span.glyphicon.glyphicon-chevron-right
  %hr/
