.well
  =form_tag projects_path, method: :get do
    .row
      .col-md-12
        =text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search Projects'
    .row
      .col-md-1
        =submit_tag 'Search', class: 'btn btn-default btn-xs'
