.page-header
  %h1 Blog Files
  =link_to 'Blog Listing', blogs_path

=form_tag blog_files_path,{class: :well} do
  .row
    .col-md-12
      .form-group
        =text_field_tag :blog_document_or_description_or_created_at_contains, nil, placeholder: 'Search document name or description or created at', class: 'form-control'
  .row
    .col-md-4
      .form-group
        =submit_tag 'Search', class: 'btn btn-primary'
        =link_to 'Cancel', '#', class: 'cancel_search_form_link btn btn-default'

%table.table-striped
  %thead
    %tr
      %th File Name
      %th Description
      %th Blog &nbsp;
      %th Created
  %tbody
    -8.times do
      %tr
        %td
          =link_to Faker::Lorem.words(3).join("\s"), '#'
        %td
          =truncate Faker::Lorem.paragraphs(10).join("\s"), length: 50
        %td
          =link_to :View
        %td
          =short_date Date.today
