%div{class: 'container'}
  %div{class: 'master_links'}
    %a{href: '#'} New Category
  %h1 
    Blog Categories
  %hr
  -8.times do
    %div{class: 'blog_category_listing'} 
      %span
        =link_to Faker::Lorem.words(1).join("\s"), '#'
      =link_to 'Edit', '#'
      |
      =link_to 'Delete', '#'