.section
  %h1 Blogs
  #{link_to 'New Blog'} | #{link_to 'Search Posts'}
.divider
.search_form.well
  %form
    %header
      %h1 Search Posts
    .form-group
      =text_field_tag :headline_or_content_or_created_at_or_commenter_or_comment_content_or_content_created_at_contains, nil, placeholder: 'Search Content and Comments', class: 'form-control'
    .form-group
      =submit_tag 'Search', class: 'waves-effect waves-light btn'
      =link_to 'Cancel', '#', class: 'waves-effect waves-light btn'
-5.times do
  .row
    .col.s12.m6
      .card
        .card-content
          %span.card-title Blog Post Title
          %p
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.
        .card-action
          =link_to 'Read More', '#', class: 'waves-effect waves-light btn'
