%div{class: 'container'}
  %h1{class: 'title'} Create / Edit Blog
  %hr
  %form
    %select
      %option{value: ''} Please Select
      %option{value: 'option1'} Option1
      %option{value: 'option2'} Option2
      %option{value: 'option3'} Option3
    %br
    %input{type: 'text', name: 'headline', size: '18', placeholder: 'Enter Headline'}
    %textarea{class: 'textarea', name: 'body', placeholder: 'Enter Details'}
    %input{type: 'file'}
    %br
    %br
    %div{class: 'actions'}
      %input{type: "submit", value: "Submit"}
      =link_to 'Cancel', '#'