%div{class: 'container'}
  %div{class: 'master_links'}
    %a{href: '#'} New Blog
  %h1{class: 'title'} Blog Listing
  %hr
  -8.times do
    %div{class: 'blog_listing'}
      %h1
        =link_to Faker::Lorem.words(5).join("\s"), '#' 
      %p
        =Faker::Lorem.paragraphs(1).join("\s")
        &nbsp;
        %a{href: '#'} Read More
        %span
          %br
          Posted:  
          =Date.today
          |
          Comments: 
          %a{href: '#'} 0
          |
          Attachments: 
          %a{href: '#'} 0