.page-header
  %p
    From: #{Faker::Name.name} (#{mail_to Faker::Internet.email})
    %br/
    To: Lovell McIlwain
    %br/
    Date: #{medium_date Date.today}
.well
  %section
    %p
      =Faker::Lorem.paragraphs(5).join("\s")
%section
  =link_to :Listing, contact_mes_path, class: 'btn btn-primary'
  =link_to :Delete, '#', class: 'btn btn-default'
