.page-header
  %h1 Contact Me
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Body
      %th Created
  %tbody
    -5.times do
      %tr
        %td
          =link_to Faker::Name.name
        %td
          =mail_to Faker::Internet.email
        %td
          =truncate Faker::Lorem.words(100).join("\s")
        %td
          =medium_date Date.today
