#main
  .page-header
    .row
      .col-md-3
        =medium_date Date.today
      .col-md-1
        =link_to :Listing, '#', class: 'btn btn-primary btn-xs'
      .col-md-1
        =link_to :Delete, '#', class: 'btn btn-danger btn-xs'
    .row
      .col-md-12
        From: #{Faker::Name.name} (#{mail_to Faker::Internet.email})
  .well
    %p
      =Faker::Lorem.paragraphs(5).join("\s")
    %p
      =Faker::Lorem.paragraphs(5).join("\s")
