.row
  .col-xs-6
    .panel.panel-info
      .panel-heading
        %h3.panel-title A Cat
      .panel-body
        %p.text-muted 24 July 2013, Alexander Rechsteiner
        %p
          Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
        .clearfix
          %a.btn.btn-tales-one{:href => "blog-detail.html"} Read more
  .col-xs-6
    .panel.panel-info
      .panel-heading
        %h3.panel-title Big Thinkers
      .panel-body
        %p.text-muted 24 July 2013, Alexander Rechsteiner
        %p
          Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
        .clearfix
          %a.btn.btn-tales-one{:href => "blog-detail.html"} Read more
.row
  .col-xs-6
    .panel.panel-info
      .panel-heading
        %h3.panel-title A Cat
      .panel-body
        %p.text-muted 24 July 2013, Alexander Rechsteiner
        %p
          Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
        .clearfix
          %a.btn.btn-tales-one{:href => "blog-detail.html"} Read more
  .col-xs-6
    .panel.panel-info
      .panel-heading
        %h3.panel-title Big Thinkers
      .panel-body
        %p.text-muted 24 July 2013, Alexander Rechsteiner
        %p
          Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
        .clearfix
          %a.btn.btn-tales-one{:href => "blog-detail.html"} Read more