.page-header
  %h1 Lovell.Direct
=form_tag blogs_path, {class: :well} do
  .row.form-group.form-inline
    .col-md-12
      =select_tag :klass, options_for_select(["Articles", "Projects"]), {class: 'form-control'}
      =text_field_tag :headline_or_content_or_created_at_or_commenter_or_comment_content_or_content_created_at_contains, nil, class: 'form-control', size: 105, placeholder: :Search
  .row
    .col-md-12
      .form-group
        =submit_tag 'Search', class: 'btn btn-primary'
        =link_to 'Cancel', '#', class: 'btn btn-default'
-5.times do
  .row
    .col-lg-8.col-md-10.mx-auto
      .post-preview
        %a{href: '#'}
          %h2.post-title
            =Faker::Lorem.words(5).join("\s")
          %h3.post-subtitle
            =truncate Faker::Lorem.paragraph, length: 80
        %p.post-meta
          Posted by
          %a{href: about_path} Lovell McIlwain
          on #{short_date Date.today}
.clearfix
  =link_to 'More Posts →', blogs_path, class: 'btn btn-primary float-right'
