/ Main
#main
  / Intro
  %section#top.one.dark.cover
    .container
      %header
        %h2.alt
          %strong Welcome to my page
        %p I build solid, well tested web applications using the best tool for the job. I am a self managed easy to work with type of guy who prides himself on great communication with his teammates. The overall goal is to get the job done and get it done right! You can find out more #{link_to 'about me', root_path(anchor: :about)}, then #{link_to 'contact me', root_path(anchor: :contact)} for further details.
      %footer
        %a.button.scrolly{:href => "#portfolio"} Continue
  / Portfolio
  %section#portfolio.two
    .container
      %header
        %h2 Portfolio
      %p
        Below is a collection of small projects that I have done over time
      .row
        .4u{:class => "12u$(mobile)"}
          %article.item
            %a.image.fit{href: 'https://github.com/vmcilwain/react-date', target: :blank}
              =image_tag 'pic02.jpg'
            %header
              %h3 React Date (React)
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/blog", target: :blank}
              =image_tag 'pic03.jpg'
            %header
              %h3 Blog (Ruby on Rails)
        .4u{:class => "12u$(mobile)"}
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/salt-ssh-rails", target: :blank}
              =image_tag 'pic04.jpg'
            %header
              %h3 Salt-SSH Rails (Salt Stack)
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/myrails", target: :blank}
              =image_tag 'pic05.jpg'
            %header
              %h3 My Rails (Ruby)
        %div{:class => "4u$ 12u$(mobile)"}
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/myhtml2haml", target: :blank}
              =image_tag 'pic06.jpg'
            %header
              %h3 MyHTML2HAML (Ruby)
          %article.item
            %a.image.fit{href: "https://github.com/vmcilwain/multiselect", target: :blank}
              =image_tag 'pic07.jpg'
            %header
              %h3 Multiselect (React)
  / About Me
  %section#about.three
    .container
      %header
        %h2 About Me
      %a.image.featured{href: "#"}
        -# =image_tag 'pic08.jpg'
        -# =image_tag 'vell.jpg', width: '10px', class: 'img-circle'
      .row
        %p I'm a web application developer with a systems & database administration background. I currently work with Ruby and Ruby on Rails but I am happily at home doing systems and database administration tasks.

        %p My career started as a low level helpdesk engineer. I basically sat around doing menial task such as filing CDs & Floppys, recording licenses and assigning trouble tickets to other staff members. Through hard work and a knack for catching on to things quickly, I was promoted to systems administrator.

        %p I received my BS in Information Technology in 2012; graduating with a 3.78 GP. By the time I finished getting my BA, I was in the middle of a successful career in Information Technology. The reason for my success prior to getting my BA (and even after) was my ability to take on any challenge and adapt to changes while remaining humble to new experiences. These abilities allowed for me to be the "go to" guy for important task that helped move the business forward.

        %p After the organization I was working with got bought out by another, it was time for me to move on and become a web developer full time. I moved on to a non-profit organization to get myself started. I chose non-profit because it is a slower pace. It would allow me to find my own style and get used to the new career I chose a little bit easier. While working with the non-profit organization, I help to convert applications from Cold Fusion to Ruby on Rails. I built their Ruby on Rails environment from the ground up using AWS (EC2/RDS) and deploying with Capistrano. After 2 years with the this organization it was time for me to move on.

        %p Right now I work as a contractor for the D.C. Government. I am viewed as a leader, working with a knowledgeable team of developers (of different skill levels) to help move some health care projects along. In this case, it means helping to get them back to TDD and writing exceptional code as well as offering my thoughts and ideas.

        %p The value I provide as a Ruby and Ruby on Rails developer is the ability to turn around a well tested product in a respectable amount of time. This allows for early feedback and collaboration between the stakeholders and myself. Thats a good thing! In addition to that, my previous years of knowledge as a Systems and Database administrator in the corporate environment gives me a level of understanding of how applications and systems work together.

        %p I pride myself on learning new technologies when it makes sense and when I have the time. Here is a brief list of the technologies that I work with:
      .row
        .col-md-12
          %table.table.table-striped
            %tbody
              %tr
                %td
                  =link_to :Ruby, 'https://www.ruby-lang.org/en/', target: :blank
                %td
                  =link_to 'Ruby On Rails', 'http://rubyonrails.org/', target: :blank
                %td
                  =link_to :Bootstrap, 'http://getbootstrap.com/', taget: :blank
                %td
                  =link_to :JQuery, 'http://jquery.com/', target: :blank
              %tr
                %td
                  =link_to :MySQL, 'http://www.mysql.com/', target: :blank
                %td
                  =link_to :RVM, 'https://rvm.io/', target: :blank
                %td
                  =link_to 'Mac OS X', 'http://www.apple.com/osx/', target: :blank
                %td
                  =link_to :Linux, 'http://en.wikipedia.org/wiki/Linux', target: :blank
              %tr
                %td
                  =link_to 'Amazon Web Service', 'http://aws.amazon.com/', target: :blank
                %td
                  =link_to 'AngularJS', 'https://angularjs.org/', target: :blank
                %td
                  =link_to 'CoffeeScript', 'http://coffeescript.org/', target: :blank
                %td
                  =link_to 'HAML', 'http://haml.info/', target: :blank
  / Contact
  %section#contact.four
    .container
      %header
        %h2 Contact
      %p Interested in hiring me for Full Time or Freelance work? Connect with me using the form below and I will be sure to get back with you.
      =form_for ContactMe.new, method: :post, remote: true do |f|
        .row
          .6u{:class => "12u$(mobile)"}
            =f.text_field :name, placeholder: 'Name', autofocus: true, required: true
          %div{:class => "6u$ 12u$(mobile)"}
            =f.email_field :email, placeholder: 'Email', required: true
          %div{:class => "12u$"}
            =f.text_area :body, placeholder: 'Message', required: true
          %div{:class => "12u$"}
            .notice
            %button Send
