%div{clas: 'container'}
  %h1{class: 'title'} Photo Albums
  %hr
  %table
    %tr
      -5.times do
        %td
          =image_tag('http://media.animevice.com/uploads/0/72/24116-mai_shiranui_6.jpg', width: '100px')
          %br
          =link_to Faker::Lorem.words(2).join("\s"), '#', title: Faker::Lorem.words(5).join("\s")
    %tr
      -5.times do
        %td
          =image_tag('http://media.animevice.com/uploads/0/72/24116-mai_shiranui_6.jpg', width: '100px')
          %br
          =link_to Faker::Lorem.words(2).join("\s"), '#', title: Faker::Lorem.words(5).join("\s")