%div{class: 'container'}
  %h1{class: 'title'} Photo Albums
  %div{class: 'search_form'}
    %h1 Search Photo Albums
    %form
      %input{type: 'text', placeholder: 'Name'}
      %br
      %input{type: 'text', placeholder: 'Description'}
      %br
      %input{type: 'text', placeholder: 'Created On'}
      %br
      %input{type: 'text', placeholder: 'Commented By'}
      %br
      %input{type: 'text', placeholder: 'Commented Content'}
      %br
      %input{type: 'text', placeholder: 'Commented On'}
      %br
      %div{class: 'actions'}
        %input{type: 'submit', value: 'Search'} #{link_to 'Cancel', '#', class: 'cancel_search_form_link'}
  =link_to 'Search Albums', '#', class: 'search_form_link'
  %hr
  %table
    %tr
      -5.times do
        %td
          =image_tag('http://media.animevice.com/uploads/0/72/24116-mai_shiranui_6.jpg', width: '100px')
          %br
          =link_to Faker::Lorem.words(2).join("\s"), '#', title: Faker::Lorem.words(5).join("\s")
    %tr
      -5.times do
        %td
          =image_tag('http://media.animevice.com/uploads/0/72/24116-mai_shiranui_6.jpg', width: '100px')
          %br
          =link_to Faker::Lorem.words(2).join("\s"), '#', title: Faker::Lorem.words(5).join("\s")