.page-header
  %h1 Projects
  =link_to 'New Project', new_project_path if user_signed_in? && current_user.admin?
.well
  =form_tag projects_path, method: :get do
    .row.form-group.form-group-lg.form-inline
      .col-md-12
        =text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search Projects'
        =submit_tag 'Search', class: 'btn btn-primary'
-5.times do
  %h2
    =link_to :Repo
  %p
    =Faker::Lorem.paragraph
  %a.btn.btn-primary{href: "#", target: :blank}
    Live
    %span.glyphicon.glyphicon-chevron-right
  %hr/
