.widewrapper.main
  .container
    .page-header
      %header
        %h1 Blog Comments
      =link_to 'Blog Listing', '#', class: 'btn btn-default'
      =link_to 'Search Comments', '#', class: 'search_form_link btn btn-default'
    
    .search_form
      %header
        %h1 Search Blog Comments
      %form
        .form-group
          =text_field_tag :blog_headline, nil, placeholder: 'Blog Headline', class: 'form-control'
        .form-group
          =text_field_tag :content, nil, placeholder: 'Content', class: 'form-control'
        .form-group
          =text_field_tag :created_at, nil, placeholder: 'Created On', class: 'form-control'
        .form-group
          =submit_tag 'Search', class: 'btn btn-default'
          =link_to 'Cancel', '#', class: 'cancel_search_form_link btn btn-danger'
    
    -10.times do
      .row
        .col-md-8.blog-main
          %article.blog-post
            %header
              %h1 #{link_to Faker::Lorem.words(4).join("\s"), '#'}
            .lead-image
              .meta.clearfix
                .author
                  %i.fa.fa-user
                  %span.data #{Faker::Name.name}
                .date
                  %i.fa.fa-calendar
                  %span.data #{Date.today}
                .comments
                  %i.fa.fa-comments
                  %span.data
                    =Faker::Lorem.words(5).join("\s")
              =link_to 'Edit', '#', class: 'btn btn-tales-one'
              =link_to 'Destroy', '#', class: 'btn btn-tales-two'