.widewrapper.main
  .container
    .page-header
      %header
        %h1 Blogs
      =link_to 'New Blog', '#', class: 'btn btn-default'
      =link_to 'Search Posts', '#', class: 'btn btn-default search_form_link'
      %div{class: 'search_form'}
    .search_form
      %form
        %header
          %h1 Search Posts
        .form-group
          =text_field_tag :headline, nil, placeholder: 'Blog Headline', class: 'form-control'
        .form-group
          =text_field_tag :content, nil, placeholder: 'Content', class: 'form-control'
        .form-group
          =text_field_tag :created_at, nil, placeholder: 'Created On', class: 'form-control'
        .form-group
          =text_field_tag :commenter, nil, placeholder: 'Commented By', class: 'form-control'
        .form-group
          =text_field_tag :comment_content, nil, placeholder: 'Commenter Comment', class: 'form-control'
        .form-group
          =text_field_tag :comment_created_at, nil, placeholder: 'Commented Created On', class: 'form-control'
        .form-group
          =submit_tag 'Search', class: 'btn btn-default'
          =link_to 'Cancel', '#', class: 'btn btn-danger cancel_search_form_link'
    %hr
    -8.times do
      .row
        .col-md-8.blog-main
          %article.blog-post
            %header
              %h1 #{Faker::Lorem.words(5).join("\s") }
            %p
              =Faker::Lorem.paragraphs(1).join("\s")
              &nbsp; #{link_to 'Read More', '#'}
            .lead-image
              .meta.clearfix
                -#.author
                  %i.fa.fa-user
                  %span.data #{Faker::Name.name}
                .date
                  %i.fa.fa-calendar
                  %span.data 26 July 2013
                .comments
                  %i.fa.fa-comments
                  %span.data
                    =link_to '26 Comments', '#'
                .files
                  %i.fa.fa-file-text
                  %span.data
                    =link_to '0 Files', '#'