%body
  .widewrapper.main
    .container
      .row
        .col-md-8.blog-main
          %article.blog-post
            %header
              %h1 My Insightful Article
              %h3 Category: #{Faker::Lorem.words(1).first}
              .lead-image
                =image_tag('tales/hands-big.png', alt: 'Hands', class: 'img-responsive')
                .meta.clearfix
                  -#.author
                    %i.fa.fa-user
                    %span.data Alexander Rechsteiner
                  .date
                    %i.fa.fa-calendar
                    %span.data 26 July 2013
                  .comments
                    %i.fa.fa-comments
                    %span.data
                      =link_to pluralize(26, 'Comment')
                  .comments
                    %i.fa.fa-file-text
                    %span.data
                      =pluralize(0, 'File')
            =link_to 'Listing', blogs_path, class: 'btn btn-default'
            -if current_user && current_user.has_role?('administrator')
              =link_to 'Edit', '#', class: 'btn btn-primary'
              =link_to 'Destroy', '#', method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
            .body
              %header
                %h1 Files
              -3.times do
                %div
                  #{link_to Faker::Lorem.words(1).first, '#'} - #{Faker::Lorem.words(8).join("\s")}
              %hr
              %p Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostrud in. Ground round venison commodo do capicola. Id commodo laborum proident nostrud cillum duis shoulder. Shank spare ribs pastrami, jowl jerky eiusmod proident tongue occaecat enim doner pancetta capicola t-bone.
              %p Id est labore, frankfurter sausage ex do dolore adipisicing aliquip shankle deserunt. Dolore culpa flank ad. Shankle pork loin chuck dolore short loin, pork sunt aliqua eiusmod brisket deserunt ut id. Id commodo laborum proident nostrud cillum duis shoulder. Shank spare ribs pastrami, jowl jerky eiusmod proident tongue occaecat enim doner pancetta capicola t-bone.
              %p Cillum beef ribs ullamco incididunt pork belly nostrud tail et reprehenderit mollit tempor shoulder. Leberkas brisket elit, short ribs ham beef ribs enim nostrud sunt sirloin. Do esse capicola shoulder, nostrud pig non officia ribeye in cillum. Nisi ham hock ex nulla laborum minim tempor beef, frankfurter velit. Ex spare ribs eiusmod do dolore adipisicing jowl beef ut. Aute proident pork chop capicola. Enim fatback meatball kielbasa esse. Id commodo laborum proident nostrud cillum duis shoulder. Shank spare ribs pastrami, jowl jerky eiusmod proident tongue occaecat enim doner pancetta capicola t-bone. Id commodo laborum proident nostrud cillum duis shoulder. Shank spare ribs pastrami, jowl jerky eiusmod proident tongue occaecat enim doner pancetta capicola t-bone.
              %p Capicola chuck in filet mignon prosciutto turkey. Ut tri-tip eiusmod pariatur. Ball tip drumstick fugiat bacon, ribeye reprehenderit dolore sausage beef kielbasa. Ex beef magna culpa labore swine venison pancetta eu irure meatball bresaola frankfurter exercitation.
              %p Aliqua fatback tenderloin ex biltong laborum minim ut swine bresaola exercitation. Beef corned beef short loin ea. Nulla ullamco eiusmod ball tip enim, ut turkey officia tail ut tenderloin id anim. Tri-tip chuck ham hock beef pancetta pork loin. Sint ham hock aliquip sausage. Excepteur incididunt ea, eu tongue filet mignon hamburger. Ut ea nostrud short loin.
              %p Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
          %aside.social-icons.clearfix
            %a.social-icon.color-one{:href => "#"}
              .inner-circle
              %i.fa.fa-twitter
            %a.social-icon.color-two{:href => "#"}
              .inner-circle
              %i.fa.fa-google-plus
            %a.social-icon.color-three{:href => "#"}
              .inner-circle
              %i.fa.fa-facebook
          %aside#comments.comments
            %hr
              %h2
                %i.fa.fa-comments
                24 Comments
              -5.times do
                %article.comment
                  %header.clearfix
                    =image_tag('tales/avatar.png', alt: 'A Smart Guy', class: 'avatar')
                    .meta
                      %h3
                        %a{:href => "#"} Willy Wonka
                      %span.date
                        27 July 2013
                      / %span.separator
                      /   \-
                      / %a.reply-link{:href => "#create-comment"} Reply
                  .body
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  liquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
          %aside#create-comment.create-comment
            %hr
              %h2
                %i.fa.fa-heart
                Add Comment
              %form{"accept-charset" => "utf-8", :action => "#", :method => "get"}
                .row
                  .col-md-6
                    %input#comment-name.form-control.input-lg{:name => "name", :placeholder => "Name", :type => "text"}
                  .col-md-6
                    %input#comment-email.form-control.input-lg{:name => "email", :placeholder => "Email", :type => "email"}
                %input#comment-url.form-control.input-lg{:name => "name", :placeholder => "Website", :type => "url"}
                  %textarea#comment-body.form-control.input-lg{:name => "message", :placeholder => "Your thoughts...", :rows => "10"}
                  .buttons.clearfix
                    %button.btn.btn-xlarge.btn-tales-two Cancel
                    %button.btn.btn-xlarge.btn-tales-one{:type => "submit"} Submit
        =render 'layouts/side_widgets'
