%div{class: 'row'}
  -if @photo.errors.any?
    =flash[:error]
    %ul
      -@photo.errors.full_messages.each do |err|
        %li #{err}
%div{class: 'row'}
  =form_for @photo, multipart: true, remote: true do |f|
    %div{class: 'row'}
      =f.file_field :document
    %div{class: 'row'}
      =f.text_field :description, placeholder: 'Description'
    %div{class: 'row'}
      %div{class: '5u'}
        =f.submit
      %div{class: '2u'}
        =link_to 'Cancel', '#', id: "cancel_#{@photo.id}"