%div
  %div{id: 'photo_js_nofication'}
  =form_for Photo.new, multipart: true, remote: true do |f|
    %h1 Add Photo
    =hidden_field_tag :authenticity_token, form_authenticity_token
    =f.hidden_field :photo_album_id, value: @photo_album.id
    %div
      =f.file_field :document
    %div
      =f.text_field :description, placeholder: 'Description'
    %div
      =f.submit
  #{link_to 'Add Photo', '#', id: 'add_photo_form'} | #{link_to 'Cancel Photo', '#', id: 'cancel_photo_form'}