#photo_listing
  -photos.in_groups_of(3, false).each do |row|
    .row
      -row.each do |photo|
        .col-xs-4
          .row
            %div{id: "notification_photo_#{photo.id}"}
            =image_tag(photo.document.url, width: '200px')
          .row
            %div{id: "edit_photo_#{photo.id}"}
              =photo.description
          -if current_user && current_user.has_role?('administrator')
            .row
              .col-xs-3
                =link_to :Edit, edit_photo_path(photo), remote: true, id: "edit_photo_#{photo.id}_link"
              .col-xs-1
                =link_to 'Destroy', photo_path(photo), method: :delete, data: {confirm: 'Are you sure?'}, id: "cancel_photo_#{photo.id}_link"