.search_form
  =search_form_for @q do |f|
    .form-group
      =f.label :photo_album_id, 'Photo Album'
      %br
      =f.select :photo_album_id, PhotoAlbum.all.collect{|x| [x.name, x.id]}, prompt: true
    .form-group
      =f.label :document_file_name_cont, 'Filename'
      %br
      =f.search_field :document_file_name_cont, placeholder: 'Photo Name', size: 60
    .form-group
      =f.label :description
      %br
      =f.search_field :description, placeholder: 'Description', size: 60
    .form-group
      =f.submit 'Search', class: 'btn btn-primary'
      =link_to 'Cancel', '#', class: 'cancel_search_form_link btn btn-danger'