-if @photo.errors.any?
  $('#photo_js_notification').html("<div class='alert alert-danger'>There were errors<br/>#{@photo.errors.full_messages.join('<br />')}</div>");
-else
  $('#new_photo').hide();
  $('#add_photo_form').show();
  $("#photo_document").val('');
  $('#photo_description').val('');
  $('#photo_js_notification').html("<div class='alert alert-success'>Photo uploaded</div>").fadeOut(); $('#photo_listing').html("#{escape_javascript(render(partial: 'photos/listing', locals: {photos: @photo.photo_album.photos}))}")