.page-header
  .row
    %h1.page-heading.col-xs-4
      Photo Listing
    .col-xs-3
      %br
      =link_to 'Search Photos', '#', class: 'search_form_link btn btn-default'
    .col-xs-3
      %br
      =link_to 'New Photo', new_photo_path, class: 'btn btn-primary'
  .row
    =render 'search'
  .row
    =will_paginate @photos, class: 'apple_pagination'  

  -@photos.each do |photo|
    .col-xs-2
      =link_to image_tag(photo.document.url, width: '200px', class: 'img-thumbnail'), photo.document.url
    .col-xs-2
      =link_to :Delete, photo, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'