%div{class: 'container'}
  %div{class: 'row'}
    %h1 #{@photo.document_file_name}
  %div{class: 'row'}
    %div{class: '3u'}
      =link_to :Edit, edit_photo_path(@photo)
    %div{class: '3u'}
      =link_to :Listing, photos_path
  %hr
  .row
    %div{class: 'alert alert-success'}
      =flash[:success]
  %div{class: 'row'}
    =image_tag @photo.document.url