%div{class: 'container'}
  %div{class: 'row'}
    %div{class: '3u'}
      =link_to 'Search Comments', '#', class: 'search_form_link'
    %div{class: '3u'}
      =link_to 'Photo Comment Listing', photo_comments_path
  %div{class: 'row'}
    %h1{class: 'title'} Photo Comments Listing
  =render 'search'
  =will_paginate @photo_comments, class: 'apple_pagination'
  %hr
  %br
  %div{class: 'row'}
    =flash[:success]
  -@photo_comments.reverse.each do |photo_comment|
    %div{class: 'row'}
      %div{class: '3u'}
        =photo_comment.name
      %div{class: '4u'}
        =medium_date photo_comment.created_at
    %div{class: 'row'}
      %div
        =photo_comment.body
    %div{class: 'row'}
      %div{class: '1u'}
        =link_to :Edit, edit_photo_comment_path(photo_comment)
      %div{class: '1u'}  
        =link_to :Destroy, photo_comment_path(photo_comment), method: :delete, data: {confirm: 'Are you sure?'}