%br
%div{class: 'container'}
  %div{class: 'row'}
    =flash[:success]
  %div{class: 'row'}
    %div{class: '3u'}
      Name:
    %div{class: '3u'}
      =@photo_comment.name
  %div{class: 'row'}
    %div{class: '3u'}
      Body:
    %div{class: '9u'}
      =@photo_comment.body
  %div{class: 'row'}
    %div{class: '3u'}
      Created At:
    %div{class: '4u'}
      =medium_date @photo_comment.created_at
  %div{class: 'row'}
    %div{class: '3u'}
      Updated At
    %div{class: '4u'}
      =medium_date @photo_comment.updated_at
  %div{class: 'row'}
    %div{class: '1u'}
      =link_to :Edit, edit_photo_comment_path(@bphoto_comment)
    %div{class: '1u'}
      =link_to :Listing, photo_comments_path