.media
  %i.fa.fa-user
  =blog_comment.name
  .media-body
    %h4.media-heading
      %small #{medium_date2 blog_comment.created_at}
    =blog_comment.body
-if current_user && current_user.admin?
  .row
    .col-xs-12
      =link_to blog_comment.blog.headline, blog_comment.blog, class: 'text-muted'
  .row
    .col-xs-12
      #{link_to :Edit, edit_blog_comment_path(blog_comment)} | #{link_to :Destroy, blog_comment_path(blog_comment), method: :delete, data: {confirm: 'Are you sure?'}} | #{link_to blog_comment.blog.headline, blog_comment.blog}
