-present(blog_comment) do |blog_comment_presenter|
  %section
    .row
      .col-md-12
        .well
          .section
            %p=strip_tags(blog_comment_presenter.body)
            %p
              %small=blog_comment_presenter.name
              %br/
              %small=blog_comment_presenter.medium_created_at
  -if policy(blog_comment).edit?
    .row
      .col-xs-12
        =blog_comment_presenter.muted_headline_link
    .row
      .col-xs-12
        #{blog_comment_presenter.edit_link} | #{blog_comment_presenter.delete_link} | #{blog_comment_presenter.headline_link}
