=div_for(blog_comment, class: 'row') do
  %div{class: '3u'}
    #{blog_comment.name}: 
  %div{class: '4u'}
    =medium_date blog_comment.created_at
  %div{class: 'row'}
    %div{class: ''}
      =blog_comment.body
%hr