-present(blog_comment) do |blog_comment_presenter|
  .row
    .col-md-3
      %i.fa.fa-user
      =blog_comment_presenter.name
      %br/
      %small=blog_comment_presenter.medium_created_at
    .col-md-9
      =blog_comment_presenter.body
