%article.comment
  %header.clearfix
    =image_tag('tales/avatar.png', alt: 'A Smart Guy', class: 'avatar')
    .meta
      %h3
        =blog_comment.name
        -#%a{:href => "#"} Willy Wonka
      %span.date
        =medium_date(blog_comment.created_at)
      %span.separator
        \-
      %a.reply-link{:href => "#create-comment"} Reply
  .body
    =blog_comment.body