%aside#create-comment.create-comment
  %hr
    .row
      #blog_comment_errors
    %h2
      %i.fa.fa-heart
      Add Comment
    #blog_comment_notification
    =form_for BlogComment.new, remote: true, format: :js do |f|
      =f.hidden_field :blog_id, value: @blog.id
      .row
        .col-md-6
          -if user_signed_in?
            =f.text_field :name, placeholder: 'Name', id: 'comment-name', class: 'form-control input-lg comment_name'
          -else
            =f.text_field :name, placeholder: 'Name', id: 'comment-name', class: 'form-control input-lg comment_name'
        .col-md-6
          =f.text_field :email, placeholder: 'Email (Optional)', class: 'form-control input-lg comment_email'
      %br
        =f.text_area :body, placeholder: 'Your thoughts...', rows: 10, id: 'comment-body', class: 'form-control input-lg comment_body'
        .buttons.clearfix
          =link_to 'Cancel', '#', id: 'blog_comment_cancel_link', class: 'btn btn-xlarge btn-tales-two', remote: true
          =f.submit 'Post', class: 'btn btn-xlarge btn-tales-one'
