-present(blog_comment) do |blog_comment_presenter|
  .row
    .col-md-12
      .well
        .section
          %p=strip_tags blog_comment_presenter.body
  .row
    .col-md-6
      .section
        #{blog_comment_presenter.edit_link} | #{blog_comment_presenter.delete_link}
    .col-md-6
      .section.pull-right
        =blog_comment_presenter.name
        %br/
        %small=blog_comment_presenter.medium_created_at
        %br/
        %i=blog_comment_presenter.muted_headline_link

  %hr
