.row
  .col-xs-12
    -if @blog_comment.errors.any?
      %div{class: 'row alert alert-danger'}
        =flash[:error]
        %ul
          -@blog_comment.errors.full_messages.each do |message|
            %li #{message}
.row.well
  .col-xs-12
    =form_for @blog_comment do |f|
      =f.hidden_field :blog_id, value: @blog.id
      .form-group
        =f.label :name
        %br
        =f.text_field :name, size: 80
      .form-group
        =f.label :body
        %br
        =f.text_area :body, cols: 80, rows: 10
      .form-group
        =f.submit class: 'btn btn-primary'
        -if @blog_comment.new_record?
          =link_to :Cancel, blog_comments_path, class: 'btn btn-danger'
        -else
          =link_to :Cancel, @blog_comment, class: 'btn btn-danger'