.row
  .col-xs-12
    =render partial: 'layouts/error_messages', locals: {obj: @blog_comment}
.row.well.animated.fadeIn
  =form_for @blog_comment do |f|
    =f.hidden_field :blog_id, value: @blog.id
    .form-group
      =f.text_field :name, class: 'form-control', placeholder: 'Name'
    .form-group
      =f.trix_editor :body
    .form-group
      =f.submit class: 'btn btn-success btn-xs'
      -if @blog_comment.new_record?
        =link_to :Cancel, blog_comments_path, class: 'btn btn-danger btn-xs'
      -else
        =link_to :Cancel, @blog_comment, class: 'btn btn-danger btn-xs'
