%div{class: 'row'}
  %div{class: 'row'}
    %div{id: 'blog_comment_errors'}
  =form_for BlogComment.new, remote: true do |f|
    =f.hidden_field :blog_id, value: @blog.id
    %div{class: 'row'}
      =f.text_field :name, placeholder: 'Enter Your Name'
    %div{class: 'row'}
      =f.text_area :body, placeholder: 'Enter Comment', cols: 75
    %div{class: 'row'}
      %div{class: '3u'}
        =f.submit 'Post'
      %div{class: '3u'}
      =link_to 'Cancel', '#', id: 'blog_comment_cancel_link'
  %div{class: 'row'}     
    =link_to 'Add Comment', '#', id: 'add_blog_comment_link'
  %div
    %h1 Comments
    %div{id: 'comments_listing'}
      =render partial: 'blog_comments/blog_comment', collection: @blog.blog_comments