%br
%h1 Comments
%div{class: 'comments_section'}
  %div{id: 'blog_comment_errors'}
  =form_for BlogComment.new, remote: true do |f|
    %h1 Enter your comment
    =f.hidden_field :blog_id, value: @blog.id
    =f.text_field :name, placeholder: 'Enter Your Name'
    =f.text_area :body, placeholder: 'Enter Comment'
    %br
    %div{class: 'actions'}
      #{f.submit 'Post'} | #{link_to 'Cancel', '#', id: 'blog_comment_cancel_link'}
  =link_to 'Add Comment', '#', id: 'add_blog_comment_link'
  %br
  %br
  %div{id: 'comments_listing'}
    =render partial: 'blog_comments/blog_comment', collection: @blog.blog_comments