.row
  =form_tag blog_comments_path, method: :get do
    .form-group
      .col-md-1
        =submit_tag 'Submit', class: 'searchbutton btn-tales-two'
      .col-md-11
        =text_field_tag :q, params[:q], class: 'searchbox searchfield form-control', placeholder: 'Search Comments'