=form_tag blog_comments_path, {method: :get, class: :well} do
  .row
    .col-md-12
      .form-group.form-group-lg
        =text_field_tag :q, params[:q], class: 'searchbox searchfield form-control', placeholder: 'Search Comments'
  .row
    .col-md-12
      .form-group
        =submit_tag 'Search', class: 'btn btn-primary'
