<% if @blog_comment.errors.any? %>
  $('#blog_comment_errors').html("<div id='error_notice'><%= raw @blog_comment.errors.full_messages.join('<br/>') %></div>")
<% else %>
  $("#comments_listing").html("<%= escape_javascript(render @blog_comment.blog.blog_comments) %>")
  $('#blog_comment_name').val('');
  $('#blog_comment_body').val('');
<% end%>