$('#blog_comment_notification').show();
-if @blog_comment.errors.any?
  $('#blog_comment_notification').html("<div class='alert alert-danger'>#{raw @blog_comment.errors.full_messages.join('<br/>')}</div>");
-else
  $('#comments').append("#{j render @blog_comment}");
  $('#comment-name').val('');
  $('#comment-body').val('');
  $('#blog_comment_notification').html("<div class='alert alert-success'>Comment added</div>").fadeOut(4000);

