$('#blog_comment_notification').show();
-if @blog_comment.errors.any?
  $('#blog_comment_notification').html("<div class='alert alert-danger'>#{raw @blog_comment.errors.full_messages.join('<br/>')}</div>");
-else
  $('#comments').append("#{j render @blog_comment}");
  $('aside#comments h2').html("<i class='fa fa-comments'></i>#{j pluralize(BlogComment.where(blog_id: @blog_comment.blog_id).size,'Comment')}")
  $('#comment-name').val('');
  $('#comment-body').val('');
  $('#blog_comment_email').val('')
  $('#blog_comment_notification').html("<div class='alert alert-success'>Comment added</div>").fadeOut(4000);