.widewrapper.main
  .container
    .page-header
      -if flash[:success]
        %div{class: 'row alert alert-success'}
          =flash[:success]
      %header
        %h1 Blog Comments
      =link_to 'Blog Listing', blogs_path, class: 'btn btn-tales-one'
      =link_to 'Search Comments', '#', class: 'search_form_link btn btn-tales-one'
      =render 'search'
    .row
      =will_paginate @blog_comments, class: 'apple_pagination'
    -@blog_comments.reverse.each do |blog_comment|
      .row
        .col-md-8.blog-main
          %article.blog-post
            %header
              %h1 #{link_to blog_comment.blog.headline, blog_comment.blog}
            .lead-image
              .meta.clearfix
                .author
                  %i.fa.fa-user
                  %span.data #{blog_comment.name}
                .date
                  %i.fa.fa-calendar
                  %span.data #{medium_date(blog_comment.created_at)}
                .comments
                  %i.fa.fa-comments
                  %span.data
                    =blog_comment.body
              =link_to :Edit, edit_blog_comment_path(blog_comment), class: 'btn btn-tales-one'
              =link_to :Destroy, blog_comment_path(blog_comment), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-tales-two'