.container
  .row
    .page-header
      .col-xs-7
        %h1 Blog Comments Listing
      .col-xs-3
        %br
        =link_to 'Search Comments', '#', class: 'search_form_link btn btn-default'
      .col-xs-2
        %br
        =link_to 'Blog Listing', blogs_path, class: 'btn btn-default'
      .row
        .col-xs-12
        =render 'search'
      .row
        .col-xs-12
        =will_paginate @blog_comments, class: 'apple_pagination'
  .row
    %div{class: 'alert alert-success'}
      =flash[:success]
  -@blog_comments.reverse.each do |blog_comment|
    .row
      .col-xs-3
        =blog_comment.name
      .col-xs-4
        =medium_date blog_comment.created_at
      .col-xs-2
        =link_to :Edit, edit_blog_comment_path(blog_comment), class: 'btn btn-default'
      .col-xs-2
        =link_to :Destroy, blog_comment_path(blog_comment), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
    .row
      .col-xs-12
        =blog_comment.body
    %hr