-present(@blog_comment) do |blog_comment_presenter|
  .container
    .page-header
      .row
        .col-xs-12
          =render 'layouts/success_message'
      %h1 #{blog_comment_presenter.name} wrote
    .row
      .col-xs-2
        Created At:
      .col-xs-3
        =blog_comment_presenter.medium_created_at
      .col-xs-2
        Updated At:
      .col-xs-3
        =blog_comment_presenter.medium_updated_at
    .row
      .col-xs-12
        =blog_comment_presenter.body
    .row
      .col-xs-4
        =blog_comment_presenter.edit_button
        =link_to :Listing, blog_comments_path, class: 'btn btn-danger btn-xs'
