!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
      %title Tales - Blog
      %meta{:content => "", :name => "description"}
        %meta{:content => "width=device-width", :name => "viewport"}
          / Bootstrap styles
          %link{:href => "css/vendor/bootstrap/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "css/vendor/bootstrap/bootstrap-theme.min.css", :rel => "stylesheet"}
              / Font-Awesome
              %link{:href => "css/vendor/font-awesome/font-awesome.min.css", :rel => "stylesheet"}
                / Google Webfonts
                %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic", :rel => "stylesheet", :type => "text/css"}
                  / Styles
                  %link#theme-styles{:href => "css/styles-bluegreen.css", :rel => "stylesheet"}
                    /[if lt IE 9]
                      <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
                    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
                    :javascript
                      window.jQuery || document.write('<\/script>')
  %body
    %header
      .widewrapper.masthead
        .container
          %a#logo{:href => "index.html"}
            %img{:alt => "Tales Blog", :src => "img/tales-logo.png"}
          #mobile-nav-toggle.pull-right
            %a{"data-target" => ".tales-nav .navbar-collapse", "data-toggle" => "collapse", :href => "#"}
              %i.fa.fa-bars
          %nav.pull-right.tales-nav
            .collapse.navbar-collapse
              %ul.nav.nav-pills.navbar-nav
                %li.dropdown.active
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Blog
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "index.html"} Blog
                    %li
                      %a{:href => "blog-detail.html"} Blog Detail
                %li
                  %a{:href => "about.html"} About
                %li
                  %a{:href => "credits.html"} Credits
      .widewrapper.subheader
        .container
          .tales-breadcrumb
            %a{:href => "#"} Blog
          .tales-searchbox
            %form{"accept-charset" => "utf-8", :action => "#", :method => "get"}
              %button.searchbutton{:type => "submit"}
                %i.fa.fa-search
              %input#searchbox.searchfield{:placeholder => "Search", :type => "text"}
    .widewrapper.main
      .container
        .row
          .col-md-8.blog-main
            .row
              .col-md-6.col-sm-6
                %article.blog-teaser
                  %header
                    %img{:alt => "A Cat", :src => "img/cat.png"}
                      %h3
                        %a{:href => "blog-detail.html"} Cats Everywhere
                      %span.meta 24 July 2013, Alexander Rechsteiner
                      %hr
                  .body
                    Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                  .clearfix
                    %a.btn.btn-tales-one{:href => "blog-detail.html"} Read more
              .col-md-6.col-sm-6
                %article.blog-teaser
                  %header
                    %img{:alt => "Hands", :src => "img/hands.png"}
                      %h3
                        %a{:href => "blog-detail.html"} Big Thinkers
                      %span.meta 24 July 2013, Alexander Rechsteiner
                      %hr
                  .body
                    Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                  .clearfix
                    %a.btn.btn-tales-one{:href => "blog-detail.html"} Read more
            .row
              .col-md-6.col-sm-6
                %article.blog-teaser
                  %header
                    %img{:alt => "A Bike", :src => "img/bike.png"}
                      %h3
                        %a{:href => "blog-detail.html"} My Insightful Article
                      %span.meta 24 July 2013, Alexander Rechsteiner
                      %hr
                  .body
                    Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                  .clearfix
                    %a.btn.btn-tales-one{:href => "blog-detail.html"} Read more
              .col-md-6.col-sm-6
                %article.blog-teaser
                  %header
                    %img{:alt => "A Violin Player", :src => "img/violin.png"}
                      %h3
                        %a{:href => "blog-detail.html"} Why I Play Violin
                      %span.meta 24 July 2013, Alexander Rechsteiner
                      %hr
                  .body
                    Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                  .clearfix
                    %a.btn.btn-tales-one{:href => "blog-detail.html"} Read more
            .paging
              %a.newer{:href => "#"}
                %i.fa.fa-long-arrow-left
                Newer
              %span &bull;
              %a.older{:href => "#"}
                Older
                %i.fa.fa-long-arrow-right
          %aside.col-md-4.blog-aside
            .aside-widget
              %header
                %h3 Read next...
              .body
                %ul.tales-list
                  %li
                    %a{:href => "index.html"} Email Encryption Explained
                  %li
                    %a{:href => "#"} Selling is a Function of Design.
                  %li
                    %a{:href => "#"} It’s Hard To Come Up With Dummy Titles
                  %li
                    %a{:href => "#"} Why the Internet is Full of Cats
                  %li
                    %a{:href => "#"} Last Made-Up Headline, I Swear!
            .aside-widget
              %header
                %h3 Authors Favorites
              .body
                %ul.tales-list
                  %li
                    %a{:href => "index.html"} Email Encryption Explained
                  %li
                    %a{:href => "#"} Selling is a Function of Design.
                  %li
                    %a{:href => "#"} It’s Hard To Come Up With Dummy Titles
                  %li
                    %a{:href => "#"} Why the Internet is Full of Cats
                  %li
                    %a{:href => "#"} Last Made-Up Headline, I Swear!
            .aside-widget
              %header
                %h3 Tags
              .body.clearfix
                %ul.tags
                  %li
                    %a{:href => "#"} OpenPGP
                  %li
                    %a{:href => "#"} Django
                  %li
                    %a{:href => "#"} Bitcoin
                  %li
                    %a{:href => "#"} Security
                  %li
                    %a{:href => "#"} GNU/Linux
                  %li
                    %a{:href => "#"} Git
                  %li
                    %a{:href => "#"} Homebrew
                  %li
                    %a{:href => "#"} Debian
    %footer
      .widewrapper.footer
        .container
          .row
            .col-md-4.footer-widget
              %h3
                %i.fa.fa-cog>
                Statistics
              %span Even we sometimes loose track of how many articles we actually have here.  This one helps:
              .stats
                .line
                  %span.counter 27
                  %span.caption Articles
                .line
                  %span.counter 208
                  %span.caption Comments
                .line
                  %span.counter 2
                  %span.caption Authors
            .col-md-4.footer-widget
              %h3
                %i.fa.fa-star
                Hall of Fame
              %ul.tales-list
                %li
                  %a{:href => "index.html"} Why we Need to Encrypt All Communication
                %li
                  %a{:href => "#"} Selling is a Function of Design. Not Vice-Versa.
                %li
                  %a{:href => "#"} It’s Hard To Come Up With Dummy Titles
                %li
                  %a{:href => "#"} Why the Internet is Full of Cats
                %li
                  %a{:href => "#"} Last Made-Up Headline, I Swear!
            .col-md-4.footer-widget
              %h3
                %i.fa.fa-envelope>
                Contact Me
              %span I'm happy to hear from my readers. Thoughts, feedback, critique - all welcome! Drop me a line:
              %span.email
                %a{:href => "#"}> jimmy@notanactualemail.com
                , PGP key 0x5AK0BEA1
      .widewrapper.copyright
        .container
          Designed by
          %a{:href => "http://hackerthemes.com"} HackerThemes
    %script{:src => "js/vendor/bootstrap/bootstrap.min.js"}
    %script{:src => "js/vendor/modernizr/modernizr.js"}