%footer
  .row
    .col-xs-6
      %h3
        %i.fa.fa-cog>
        Statistics
      %span Even I sometimes loose track of how many articles I actually have here.
      %ul.list-group
        %li.list-group-item #{Blog.count} Articles
        %li.list-group-item #{BlogComment.count} Comments
    .col-xs-6
      %h3
        %i.fa.fa-envelope>
        Contact Me
      %span I'm happy to hear from my readers. Thoughts, feedback, critique - all welcome! Drop me a line:
      %span.email
        =link_to 'Contact Me', main_app.new_contact_me_path
  .list-group-item
    .row
      .col-xs-4
        &copy; Vell McIlwain 2016. All rights reserved.
      .col-xs-2
        Version: #{CONFIG[:version]}.
      .col-xs-4
        Designed with #{link_to :Bootswatch, 'http://bootswatch.com'}
      