%footer.footer-distributed
  .footer-left
    %h3
      Lovell
      -#%span logo
    %p.footer-links
      =link_to :Home, root_path
      ·
      =link_to :Articles, blogs_path
      ·
      =link_to :About, about_home_index_path
      ·
      =link_to :Contact, '/contact_mes/new'
    %p.footer-company-name Lovell McIlwain &copy; 2016
    .footer-icons
      -#%a{:href => "#"}
        %i.fa.fa-facebook
      %a{:href => "https://twitter.com/the_codemonster", target: :blank}
        %i.fa.fa-twitter
      %a{:href => "https://www.linkedin.com/pub/lovell-mcilwain/60/92/28/", target: :blank}
        %i.fa.fa-linkedin
      %a{:href => "https://www.github.com/vmcilwain", target: :blank}
        %i.fa.fa-github
  .footer-right
    %p Quick Contact Me
    =form_for ContactMe.new, method: :post do |f|
      =f.text_field :name, placeholder: 'Name', autofocus: true, required: true
      =f.email_field :email, placeholder: 'Email', required: true
      =f.text_area :body, placeholder: 'Message', required: true
      %button Send