#bs-example-navbar-collapse-2.collapse.navbar-collapse
  .navbar-header
    =link_to :Lovell, root_path, class: 'navbar-brand'
    %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  %ul.nav.navbar-nav
    %li
      =link_to :Articles, blogs_path
    %li
      =link_to :About, about_home_index_path
    / -if current_user && current_user.admin?
    %li
      =link_to 'Blog Categories', blog_categories_path
    %li
      =link_to 'Blog Comments', blog_comments_path
    %li
      =link_to 'Blog Files', blog_files_path
  %form.navbar-form.navbar-left{:role => "search"}
    .form-group
      %input.form-control{:placeholder => "Search", :type => "text"}
    %button.btn.btn-default{:type => "submit"} Submit
  %ul.nav.navbar-nav.navbar-right
    -if user_signed_in?
      %li #{link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-xs'}
    -else
      %li #{link_to 'Login', new_user_session_path, class: 'btn btn-info btn-xs'}
%hr