%ul#dropdown1.dropdown-content
  %li=link_to 'Article Comments', blog_comments_path
  %li=link_to 'Article Files', blog_files_path
  %li=link_to 'Contact Mes', contact_mes_path
  %li.divider
  %li
    %a{:href => "#!"} three
%nav
  .nav-wrapper.container
    =link_to 'Lovell.Direct', root_path, class: 'brand-logo'
    %ul.right.hide-on-med-and-down
      %li=link_to :About, about_home_index_path
      %li=link_to :Articles, blogs_path
      %li=link_to :Projects, projects_path
      / Dropdown Trigger
      - if current_user && current_user.admin?
        %li
          %a.dropdown-button{"data-activates" => "dropdown1", :href => "#!"}
            Admin
            -# %i.material-icons.right arrow_drop_down
      -if user_signed_in?
        %li=link_to 'Logout', destroy_user_session_path, method: :delete
      -else
        %li=link_to 'Login', new_user_session_path
      -if Rails.env.development?
        %li=link_to :UI, '/ui/index'
