%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li=link_to 'lovell.direct', root_path, class: 'navbar-brand'
        %li=link_to :About, about_home_index_path
        %li=link_to :Articles, blogs_path
        %li=link_to 'Projects', projects_path
        -if current_user && current_user.admin?
          %li=link_to 'Article Comments', blog_comments_path
          %li=link_to 'Article Files', blog_files_path
          %li=link_to 'Contact Mes', contact_mes_path
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li=link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-xs'
        -else
          %li=link_to 'Login', new_user_session_path, class: 'btn btn-info btn-xs'
          -if Rails.env.development?
            %li=link_to :UI, '/ui/index', class: 'btn btn-default btn-xs'
%br/
