%footer
  .widewrapper.footer
    .container
      .row
        .col-md-4.footer-widget
          %h3
            %i.fa.fa-cog>
            Statistics
          %span Even I sometimes loose track of how many articles I actually have here.
          .stats
            .line
              %span.counter #{Blog.count}
              %span.caption Articles
            .line
              %span.counter #{BlogComment.count}
              %span.caption Comments
            / .line
            /   %span.counter 2
            /   %span.caption Authors
        -#.col-md-4.footer-widget
          %h3
            %i.fa.fa-star
            Hall of Fame
          %ul.tales-list
            %li
              %a{:href => "index.html"} Why we Need to Encrypt All Communication
            %li
              %a{:href => "#"} Selling is a Function of Design. Not Vice-Versa.
            %li
              %a{:href => "#"} It’s Hard To Come Up With Dummy Titles
            %li
              %a{:href => "#"} Why the Internet is Full of Cats
            %li
              %a{:href => "#"} Last Made-Up Headline, I Swear!
        .col-md-4.footer-widget
          %h3
            %i.fa.fa-envelope>
            Contact Me
          %span I'm happy to hear from my readers. Thoughts, feedback, critique - all welcome! Drop me a line:
          %span.email
            =link_to 'Contact Me', main_app.new_contact_me_path
            -#%a{:href => "#"}> jimmy@notanactualemail.com
            -#, PGP key 0x5AK0BEA1
  .widewrapper.copyright
    .container
      .col-md-4
        &copy; Vell McIlwain 2015. All rights reserved.
      .col-md-2
        Version: #{CONFIG[:version]}.
      .col-md-4
        Designed by #{link_to :HackerThemes, 'http://hackerthemes.com'}