.col-md-4
  .well
    %h4 Blog Search
    =form_tag blogs_path, method: :get, html: {role: 'search'} do
      .input-group
        =text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search Blogs'
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"}
            %span.glyphicon.glyphicon-search
  .well
    %h4 Blog Categories
    .row
      .col-lg-6
        %ul.list-unstyled
          %li
            %a{:href => "#"} Category Name
          %li
            %a{:href => "#"} Category Name
          %li
            %a{:href => "#"} Category Name
          %li
            %a{:href => "#"} Category Name
      .col-lg-6
        %ul.list-unstyled
          %li
            %a{:href => "#"} Category Name
          %li
            %a{:href => "#"} Category Name
          %li
            %a{:href => "#"} Category Name
          %li
            %a{:href => "#"} Category Name
  .well
    %h4 Side Widget Well
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
  .well
    .row.text-center
      .col-xs-3.h1
        %a.social-icon.color-one{href: "https://www.twitter.com/the_codemonster", target: :blank}
          .inner-circle
          %i.fa.fa-twitter
      .col-xs-3.h1
        %a.social-icon.color-three{href: "https://www.linkedin.com/in/vmcilwain", target: :blank}
          .inner-circle
          %i.fa.fa-linkedin
      .col-xs-3.h1
        %a.social-icon.color-three{href: "/contact_mes/new"}
          .inner-circle
          %i.fa.fa-envelope
