!!!
%html
  %head
    %meta{'http-equiv' => "content-type", content: "text/html;charset=utf-8"}
    %meta{name: "author", content: "Lovell McIlwain"}
    %meta{name: 'description', content: 'The professional site for Vell McIlwain. A Ruby and Ruby on Rails developer in the D.C. Metropolitan area. You will laaugh. You will cry. You will want to keep reading hopefully.'}
    %meta{name: "ROBOTS", content: "INDEX, NOFOLLOW"}
    %title Lovell
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic", :rel => "stylesheet", :type => "text/css"}
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
  %body{role: 'document'}
    =tinymce_assets
    =tinymce
    %header
      .widewrapper.masthead
        .container
          %a#logo{:href => main_app.root_path}
            =image_tag('vell.jpg', alt: 'Picture of Lovell', width: '100px', class: 'img-responsive img-circle')
          #mobile-nav-toggle.pull-right
            %a{"data-target" => ".tales-nav .navbar-collapse", "data-toggle" => "collapse", :href => "#"}
              %i.fa.fa-bars
          %nav.pull-right.tales-nav
            .collapse.navbar-collapse
              %ul.nav.nav-pills.navbar-nav
                -if current_user.admin?
                  %li.dropdown.active
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => main_app.blogs_path}
                      Admin
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        =link_to 'Blog Comments', blog_comments_path
                      %li
                        =link_to 'Blog Files', blog_files_path
                %li
                  =link_to :Blog, main_app.blogs_path
                %li
                  =link_to :About, main_app.about_home_index_path
                -#%li
                  =link_to :credit, '#'
      .widewrapper.subheader
        .container
          -#.tales-breadcrumb
            %a{:href => "#"} Blog
            %span.separator /
            %a{:href => "#"} Security
            %span.separator /
            %a{:href => "#"} My Insightful Article
          .tales-searchbox
            %form{"accept-charset" => "utf-8", :action => "#", :method => "get"}
              %button.searchbutton{:type => "submit"}
                %i.fa.fa-search
              %input#searchbox.searchfield{:placeholder => "Search", :type => "text"}
    =yield
    =render 'layouts/footer'