%html
  %head
    %meta{'http-equiv' => "content-type", content: "text/html;charset=utf-8"}
    %meta{name: "author", content: "Vell McIlwain"}
    %meta{name: 'description', content: 'The professional site for Vell McIlwain. A Ruby and Ruby on Rails developer in the D.C. Metropolitan area. You will laaugh. You will cry. You will want to keep reading hopefully.'}
    %meta{name: "ROBOTS", content: "INDEX, NOFOLLOW"}
    %title Vell
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
%body{role: 'document'}
  =render 'layouts/nav'
  %div{class: "container theme-showcase", role: "main"}
    =yield
  =render 'layouts/footer'