%html
  %head
    %title Vextranet
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
%body{role: 'document'}
  =render 'layouts/nav'
  %div{class: "container theme-showcase", role: "main"}
    =yield
  / =render 'layouts/footer'