!!!
%html
  %head
    %meta{'http-equiv' => "content-type", content: "text/html;charset=utf-8"}
    %meta{name: "author", content: "Lovell McIlwain"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    -if content_for?(:head)
      =yield :head
    -else
      %meta{name: 'description', content: 'The professional site for Vell McIlwain. A Ruby and Ruby on Rails developer in the D.C. Metropolitan area. You will laaugh. You will cry. You will want to keep reading hopefully.'}
    %meta{name: "ROBOTS", content: "INDEX, NOFOLLOW"}
    %title Lovell
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
  %body
    =yield
    .container
      =render 'layouts/footer'
